@model IEnumerable<IsTakip.Core.Classes.CustomerClasses.Agenda>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Agenda</h1>

<div class="text-center">
    <a asp-action="Create" class="btn btn-slack text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
        New Agenda
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th>
                Customer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Explanation)
            </td>
            <td>
                    @ViewBag.CustomerList[item.CustomerId]
            </td>
                <td class="align-middle">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-dark text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-reddit text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                        Delete
                    </a>

                </td>
        </tr>
}
    </tbody>
</table>
