@model IEnumerable<IsTakip.Core.Classes.WareHouseClasses.WareHouseShelf>

@{
    ViewData["Title"] = "Index";
}

<h1>Warehouse Shelves</h1>

<div class="text-center">
    <a asp-action="Create" class="btn btn-slack text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
        New Warehouse Shelf
    </a>
</div>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th>
                Warehouse Detail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Warehouse", new { id = item.WareHouseId })">@ViewBag.WarehouseList[item.WareHouseId]</a>
                </td>
                <td class="align-middle">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-dark text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-reddit text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
