@model IEnumerable<IsTakip.Core.Classes.CustomerClasses.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<div class="text-center">
    <a asp-action="Create" class="btn btn-slack text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
        New Customer
    </a>
</div>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Customer Class Name
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @ViewBag.customerClassList[item.CustomerClassId]
                </td>
                <td class="align-middle">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-dark text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-facebook text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="User Detail">
                        Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-reddit text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row d-flex justify-content-around">
    <a class="btn btn-outline-info col-md-5 py-5 col-12 golge mb-3" asp-controller="Agenda" asp-action="Index">Agenda List</a>
    <a class="btn btn-outline-info col-md-5 py-5 col-12 golge mb-3" asp-controller="Agenda" asp-action="Create">Create Agenda</a>
</div>
